.mainContainer{
	height:2380px;
}

.contentDiv{
	height:2200px;
}

.CustomerMainDiv{
	
	font-size:18px;
}

.CustomerDetail{
	padding:20px;
}

.leftDiv{
	width:0px; 
	padding:0px;
	margin:0px;
}

.rightDiv{
	width:1024px;
	padding:0px;
	margin:0px;
}