body{
	padding:0px;
	margin:0px;
	text-align:center;
	background-color:#f5f5f5;
}

.mainContainer{
	margin:0 auto;
	width:1024px;
	height:668px;
	-moz-box-shadow:    1px 1px 1px 2px #ccc;
	-webkit-box-shadow: 1px 1px 1px 2px #ccc;
	box-shadow:         1px 1px 1px 2px #ccc;
	
	text-align:left;
	
	background-color:#FFF;
}

.headerDiv{
	width:100%;
	height:103px;
	background-color:#88cb3e;
	position:relative;
}

.contentDiv{
	width:100%;
	height:485px;
}

.leftDiv{
	float:left;
	width:200px;
	height:100%;
	padding-top:30px;
	
}
.rightDiv{
	float:left;
	width:804px;
	height:100%;
}
.footerDiv{
	height:80px;
	width:100%;
	background-color:#88cb3e;
	position:relative;
}

.logo {
	float:left;
	padding:0px;
	width:83px;
	margin:10px;
}

.logo img{
	width:83px;
	height:83px;
	
}

#menu{
	float:left;
	position:absolute;
	bottom:10px;
	right:60px;
}

.companyNameDivZh{
	font-weight: 900;
	color:#FFF;
	font-family:verdana;
	font-size:23px;
	position:absolute;
	bottom:38px;
	left:100px;
}

.companyNameDivEn{
	color:#FFF;
	font-family:verdana;
	font-size:12px;
	position:absolute;
	bottom:20px;
	left:100px;
}

.footerContact{
	position:absolute;
	left:20px;
	bottom:38px;
}

.footerContact a{
	display:block;
	text-decoration:none;
	color:#FFF;
	font-size:12px;
}

.footerMap{
	position:absolute;
	left:80px;
	bottom:38px;
}

.footerMap a{
	display:block;
	text-decoration:none;
	color:#FFF;
	font-size:12px;
}

.footerCopy{
	font-size:12px;
	position:absolute;
	left:20px;
	bottom:18px;
	font-weight:900;
	color:#FFF;
}

.rewardDes{
	position:absolute;
	font-size:10px;
	color:#FFF;
	left:310px;
	bottom:10px;
}

.reward1{
	position:absolute;
	left:370px;
	bottom:10px;
}
.reward1 img{
	height:52px;
	width:123px;
}

.reward2{
	position:absolute;
	left:498px;
	bottom:10px;
} 

.reward2 img{	
	height:52px;
	width:84px;
}

.reward3{
	position:absolute;
	left:587px;
	bottom:10px;
} 

.reward3 img{	
	height:52px;
	width:93px;
}

.footerFB{
	width:516px;
	height:38px;
	position:absolute;
	right:20px;
	bottom:30px;
}

.FBDesc{
	position:absolute;
	right:60px;
	bottom:0px;
	color:#FFF;
	font-size:12px;
}

.FBDiv{
	position:absolute;
	right:0px;
	bottom:-10px;
	width:38px;
}

.FBDesc a{
	text-decoration:none;
	color:#FFF;
}

.FBDiv img{
	width:38px;
	height:38px;
	cursor: pointer;
}

#jssor_1{
	position: relative; 
	margin: 0 auto; 
	top: 0px; 
	left: 0px; 
	width: 804px; 
	height: 490px; 
	overflow: hidden; 
	visibility: hidden;
	
}
